<!DOCTYPE html>
<html>
  <head>

    <!-- <style>
    .logo {
      position: fixed; /* or absolute */
      top: 40%;
      left: 50%;
    }
    </style> -->
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body bgcolor="#00ff00">
    <div class="logo">
        <h1><%= title %></h1>
        <div class=subtitulo>
          <p>Integrated Marketing Tool</p>
        </div>        
    </div>    
  </body>
</html>
